@import url("./style.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 70px;
}

body {
    width: 100%;
    background-color: #509FE9;
}

.container_page {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: transparent;
}

nav {
    width: 95%;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.container_content {
    width: 95%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container_piatti {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    overflow-y: auto;
}

a {
    text-decoration: none;
}

.box_piatto {
    width: 300px;
    height: 7.5rem;
    background-color: rgb(0, 0, 0);
    color: #ffffff;

    display: flex;
    flex-wrap: wrap;

    /* align-items: center; */
    justify-content: space-evenly;
}

.img_mask {
    width: 100%;
    height: 5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#piatto1 {
    width: 100%;
    /* height: 50%; */
   
}

.prezzo {
    width: 20%;
    /* background-color: #441818; */
}
.nome {
    width: 80%;
    /* background-color: aqua; */
}



.container_left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: .5rem;
}

.container_tavoli {
    width: 95%;
    height: 60%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    color: #ffffff;

    /* background-color: rgb(14, 54, 89); */

}

.container_tavoli p {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.nTavolo {
    width: 4.6rem;
    height: 4.6rem;

    border: 1px black solid;
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container_resoconto {
    width: 90%;
    height: 40%;
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.resoconto {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    align-self: flex-end;
}

.resoconto_tavolo {
    width: 90%;
    height: 80%;
    overflow-y: scroll;
}

.numero_tavolo {
    line-height: 2rem;
}

.ordine {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chiudiPaga_btn {
    background-color: #4ed92e;
    width: 40%;
    text-align: center;
    color: #ffffff;
}
.chiudiPaga_btn div {
    font-size: .9rem;
}
.totale_tavolo {
    width: 12%;
    border: 1px solid black;
    text-align: center;
    font-size: .8rem;
}
.azzera {
    width: 40%;
    background-color: rgb(209, 0, 0);
    text-align: center;
    color: #ffffff; 
}
.azzera div {
    font-size: .9rem;
}

